body{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 376px) {
}
.firstSection{
    height: 70vh;
    padding: 1rem;
    background: url("./images/bg-pattern-intro.svg"), linear-gradient(175deg, #ff876f, #ff4252);
    background-size: 150vh;
    background-position: 34% 35%;
    border-radius: 0 0 0 100px;
}

.icon-logo{
    height: 2rem;
    grid-column: 1;
    justify-content: center;
    align-content: center;

}

.icon-hamburger{
    background: url("images/icon-hamburger.svg");
    height: 1.15rem;
    grid-column: 3;
    border: none;
    /* justify-content: center;
    align-content: center; */

}

.headerMobile{
    padding: 1rem;
    height: 2rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 6rem 1fr 2rem;
    justify-content: center;
    align-content: center;
}

.firstContent{
    color: #fff;
    font-family: sans-serif;
    margin-top: 7rem;
}

.firstContent > h1{
    font-size: 2.3rem;
    font-weight: 200;
    text-align: center;
}

.firstContent > h1 > span{
    content: '\A';          /*rozdziela na nowa linie */
    white-space: pre;       /*rozdziela na nowa linie */
    font-size: 2.3rem;
    font-weight: 200;
    text-align: center;
}

.firstContent > p{
    margin: 1rem 2.2rem;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    color: rgba(255, 255, 255, 0.795);
}

.buttonStart{
    height: 2.5rem;
    width:8rem;
    border-radius: 30px;
    border: none;
    color: #ff4252;
    font-weight: 600;
    font-size: 1rem;
    margin-right: .8rem;
}

.buttonLearn{
    height: 2.5rem;
    width:8rem;
    border-radius: 30px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}

.buttonsDiv{
    margin-top: 3rem;
    text-align: center;
}

.secondSection{
    text-align: center;
}

.secondSection > img{
    width: 100vw;
    margin-bottom: 3rem;
}

.secondSection > h2{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 5.5rem;
}

.thirdSection{
    margin-top: -30px;
    padding: 0 50px 0 50px;
    text-align: center;
    font-family: sans-serif;
}

.thirdSection > h2{
    font-weight: 600;
    padding: 0 10px 0 10px;

}

.thirdSection > p{
    line-height: 1.6rem;
    color: rgb(109, 107, 107);
    font-size: .95rem;
}

.fourthSection{
    margin-top: 40px;
}

.fifthSection{
    margin-top: 35vh;
    background: url("./images/bg-pattern-circles.svg"),#353755;
    background-size: 70vh;
    background-repeat: no-repeat;
    background-position: 51% -30vh;
    height: 70vh;
    border-radius: 0 100px 0 100px;
    font-family: sans-serif;
    color: #fff;
    display: grid;
    grid-template-rows: 20vh 50vh;
    margin-bottom: 50px;

}
.fifthContent{
    grid-row: 2;
    text-align: center;
}

.fifthContent > h2{
    margin-top: 40px;
    font-size: 2rem;
    font-weight: 400;
}

.fifthContent > p{
    padding: 0 40px 0 40px;
    font-size: .95rem;
    line-height: 1.6rem;
}

.phones{
    width: 100vw;
    margin-top: -200px;
}

.footerSection{
    text-align: center;
    background-color: #24242c;
    color: #fff;
    font-family: sans-serif;
    font-size: .95rem;
    border-radius: 0 100px 0 0;
    padding-bottom: 50px;
}
.footerSection > p{
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 45px;
}

.footerSection > ul > li > a{
    text-decoration: none;
    color: rgb(221, 217, 217);
    font-family: sans-serif;
    font-size: .95rem;
}

.footerSection > ul > li {
    list-style-type: none;

}

.footerSection > ul{
    padding: 0;
    line-height: 1.8rem;

}

.footerSection > img{
    height: 35px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.afterFooter{
    margin-bottom: 80px;
}

.menuMobileDiv{
    width: 90vw;
    min-height: 50vh;
    z-index: 1;
    position: absolute;
    margin-top: 50px;
    left: 5vw;
    background: #fff;
    border-radius: 6px;
    box-shadow: 1px 10px 10px -4px #b5b5b8;
}

.productArrow{
    height: 8px;
    margin-left: 5px;
}

.productP{
    display: inline;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.productDiv{
    margin: 30px auto 0 auto;
    text-align: center;
}

.expandedDiv{
    width: 80vw;
    background: #efeff1;
    border-radius: 8px;
    margin: 0 auto;
    padding: 5px;
}

.expandedDiv > a{
    font-family: sans-serif;
    display: block;
    margin: 15px auto;
    text-decoration: none;
    color: #000;
}